In [6]:
import pandas as pd
import numpy as np
import datetime
import os

In [2]:
d=datetime.date.today()

In [16]:
ppe = 'respirators'

In [10]:
decisions = pd.read_csv('decisions_respirators.csv',index_col=0,parse_dates=['date'])
decisions

  don_id rec_id   qty  remove_donor                      date          ppe
0   don0   rec0  20.0          True 2020-04-03 11:46:00+00:00  respirators

In [11]:
recipients = pd.read_csv('recipients.csv',index_col=0,parse_dates=['date'])
recipients

      rec_id                      date                ppe      qty
1       rec0 2020-04-02 16:27:00+00:00        respirators  10000.0
2       rec0 2020-04-02 16:27:00+00:00        faceShields   5000.0
14      rec0 2020-04-02 16:27:00+00:00              gowns   1000.0
15      rec0 2020-04-02 16:27:00+00:00      nitrileGloves  10000.0
18      rec1 2020-04-02 16:35:00+00:00        respirators      9.0
...      ...                       ...                ...      ...
6344  rec373 2020-04-03 11:45:00+00:00       thermometers      2.0
6347  rec373 2020-04-03 11:45:00+00:00  disinfectingWipes      7.0
6350  rec373 2020-04-03 11:45:00+00:00      handmadeMasks     15.0
6352  rec373 2020-04-03 11:45:00+00:00      handSanitizer      7.0
6356  rec373 2020-04-03 11:45:00+00:00      nitrileGloves    100.0

[2076 rows x 4 columns]

modify

In [32]:
recipients.loc[1] = ['rec0','2020-04-02 16:27:00+00:00',ppe,6]

In [31]:
recipients.loc[6352] = ['rec0','2020-04-03 11:45:00+00:00',ppe,6]

In [33]:
recipients

      rec_id                       date                ppe      qty
1       rec0  2020-04-02 16:27:00+00:00        respirators      6.0
2       rec0  2020-04-02 16:27:00+00:00        faceShields   5000.0
14      rec0  2020-04-02 16:27:00+00:00              gowns   1000.0
15      rec0  2020-04-02 16:27:00+00:00      nitrileGloves  10000.0
18      rec1  2020-04-02 16:35:00+00:00        respirators      9.0
...      ...                        ...                ...      ...
6344  rec373  2020-04-03 11:45:00+00:00       thermometers      2.0
6347  rec373  2020-04-03 11:45:00+00:00  disinfectingWipes      7.0
6350  rec373  2020-04-03 11:45:00+00:00      handmadeMasks     15.0
6352    rec0  2020-04-03 11:45:00+00:00        respirators      6.0
6356  rec373  2020-04-03 11:45:00+00:00      nitrileGloves    100.0

[2076 rows x 4 columns]

In [34]:
dec = decisions.iloc[0]
dec

don_id                               don0
rec_id                               rec0
qty                                    20
remove_donor                         True
date            2020-04-03 11:46:00+00:00
ppe                           respirators
Name: 0, dtype: object

In [40]:
rem_qty_to_ship = dec.qty
rec = dec.rec_id

In [41]:
rec_df = recipients[(recipients.rec_id == rec)&(recipients.ppe == ppe)]
rec_df

     rec_id                       date          ppe  qty
1      rec0  2020-04-02 16:27:00+00:00  respirators  6.0
6352   rec0  2020-04-03 11:45:00+00:00  respirators  6.0

In [42]:
requests_to_remove = []
for _,row in rec_df.iterrows():
    request_id = row.name
    request_qty = row.qty
    request_date = row.date
    if rem_qty_to_ship < request_qty:
        # TODO modify the row, but keep it, then exit the loop
        print('modify the row, but keep it, then exit the loop')
    else:
        # remove the row and update remo_qty_to_ship
        rem_qty_to_ship -= request_qty
        requests_to_remove.append(request_id)

In [44]:
rem_qty_to_ship

8.0

In [ ]:
requests_to_remove